* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background: #000000;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 15%;
  background: transparent;
}
button.dropbtn {
  background: transparent;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.navlist {
  display: flex;
  margin-left: -200px;
}
.navlist a:not(.dropdown-content a) {
  color: white;
  margin-left: 150px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background: transparent;
}
.dropdown {
  margin-left: 150px;
}
.dropdown-menu {
  margin-top: 10px;
  margin-left: -55px;
  position: absolute;
  min-width: 160px;
  text-align: center;
  z-index: 1;
  display: none;
}
.dropdown-menu a {
  padding: 10px;
  display: block;
  color: white;
  background: transparent;
}
.show {
  display: block;
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 0 30%;
}
.maintitle {
  padding: 10px;
}
.big-text {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
h1 {
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 300px;
}
h2 {
  font-family: inherit;
  font-weight: lighter;
  font-size: 20px;
  margin-top: -30px;
  text-align: right;
  margin-right: 10px;
}
.icons {
  position: absolute;
  padding: 0 9%;
  top: 40%;
  right: 0;
}
.icons i {
  color: #fff;
  display: block;
  margin: 26px 0;
}
