* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background: black;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.box-menu {
  display: flex;
  justify-content: flex-end;
  min-width: 100vw;
}
#menu-icon {
  color: white;
  padding: 15px 15px;
  font-size: 2rem;
  display: none;
  background: none;
  z-index: 10001;
  cursor: pointer;
  overflow-x: hidden;
  position: absolute;
}

body a,
h1,
h2 {
  color: white;
}
button.dropbtn {
  border: none;
  background: none;
  color: white;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  height: 50px;
  padding: 0 70px;
  margin: 0;
  outline: none;
}
nav {
  min-width: 100vw;
}
.topnav {
  position: fixed;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.hometitle {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: auto;
  margin: auto;
  margin-top: 400px;
  border: none;
}
.maintitle {
  max-width: auto;
  padding: 0;
  display: grid;
}
h1 {
  font-size: 10rem;
  margin: 0;
  line-height: 120px;
}
h2 {
  font-size: 1rem;
  margin: 0;
}
.icons {
  position: fixed;
  top: 40%;
  left: 95%;
  margin: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: none;
  row-gap: 16px;
  justify-content: center;
}
.dropdown {
  position: relative;
}
.topnav li:not(.dropdown-content li) {
  height: 50px;
}
.topnav a:not(.dropdown-content a) {
  height: 100%;
  padding: 0 70px;
  display: flex;
  align-items: center;
  text-align: center;
  background: transparent;
}
.dropdown-content {
  position: absolute;
  align-items: center;
  display: none;
  min-width: 100%;
  z-index: 1;
  background-color: transparent;
}
.dropdown-content li {
  width: 100%;
}
.dropdown-content a {
  display: block;
  float: none;
  text-align: center;
  padding: 5px 50px;
}
.show {
  display: block;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: black;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  display: none;
  font-size: 0.9rem;
}
.sidebar li {
  margin-top: 25px;
  width: 100%;
  text-align: left;
  background-color: none;
}
.sidebar a {
  display: block;
  padding: 10px 0;
  padding-left: 15px;
}
button.dropbtn2 {
  display: block;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  padding-left: 15px;
  height: auto;
  width: 250px;
  text-align: left;
  outline: none;
  margin-top: 25px;
}
.dropdown-content2 {
  width: 250px;
  background-color: none;
  display: none;
}
.active {
  background-color: none;
}
/* ILLUSTRATION PAGE */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 35px;
  row-gap: 60px;
  margin-top: 160px;
}
.box {
  display: flex;
  max-width: 300px;
  width: 100%;
  background-color: grey;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.imgthumbnail {
  object-fit: cover;
  width: 100%;
  max-width: 300px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100002;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  display: block;
  margin: auto;
  height: auto;
  width: 90%;
  max-width: 900px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}
footer {
  display: flex;
  min-height: 59vh;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  gap: 15px;
  margin-top: -90px;
}
.footer-ico {
  font-size: inherit;
}
.behance {
  font-size: 1rem;
}
@media (max-width: 899px) {
  .modal-content {
    margin-top: 30px;
    width: 90%;
    max-width: 800px;
  }
  .hideonmobile {
    display: none;
  }
  .topnav .dropdown {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  .open {
    display: flex;
  }
}
@media (max-width: 499px) {
  .sidebar {
    width: 100%;
  }
  .modal-content {
    margin-top: 100px;
    width: 90%;
    max-width: 800px;
  }
}
